@page
@model CodeWithMixx.Pages.Admin.Students.Create.IndexModel

@{
    Layout = "Shared/_DashboardLayout";
    ViewData["Title"] = "Registracija studenta";
}

<div id="content">
    @await Html.PartialAsync("_Create", Model.Input)
</div>
