
<section id="reviews" class="py-12 bg-linear-to-br from-emerald-950/80 to-emerald-900">
    <div class="max-w-7xl mx-auto px-8">
        <div class="text-center mb-16">
            <h2 class="text-4xl md:text-5xl font-bold text-white mb-4">Utisci studenata</h2>
            <p class="text-xl text-emerald-100/80 max-w-3xl mx-auto">
                Šta kažu samo neki od kolega sa kojima sam imao čast da sarađujem.
            </p>
        </div>

        <div id="reviews-slider-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="bg-indigo-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:-rotate-1 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card opacity-100">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-purple-800 rounded-full flex items-center justify-center text-indigo-300 font-bold">
                        NM
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Nikolina M.</h3>
                        <span class="text-indigo-100/40 text-xs uppercase tracking-wider">Seminarski Rad</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Sve preporuke za saradnju! Kroz detaljne časove i objašnjenja uspešno sam savladala najkompleksniji praktični projekat na godini i dobila ogromne pohvale za rezultat."
                </p>
            </div>

            <div class="bg-teal-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-teal-800 rounded-full flex items-center justify-center text-teal-300 font-bold">
                        MS
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Marija S.</h3>
                        <span class="text-teal-100/40 text-xs uppercase tracking-wider">MS</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Uz Milanove smernice i sjajan pristup objašnjavanju arhitekture projekta, uspela sam samostalno da privedem kraju i uspešno odbranim jedan od najzahtevnijih projekata."
                </p>
            </div>

            <div class="bg-cyan-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-cyan-800 rounded-full flex items-center justify-center text-cyan-300 font-bold">
                        LŠ
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Luka Š.</h3>
                        <span class="text-cyan-100/40 text-xs uppercase tracking-wider">Osnove OOP</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Odličan pristup radu. Fokus je na praksi i onome što se zapravo traži na ispitu. Položio sam iz prve sa devetkom."
                </p>
            </div>

            <div class="bg-rose-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:rotate-1 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-rose-800 rounded-full flex items-center justify-center text-rose-300 font-bold">
                        GM
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Goran M.</h3>
                        <span class="text-rose-100/40 text-xs uppercase tracking-wider">C Programiranje</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Zahvaljujući Milanu uspešno sam savladao osnove C programiranja , sve je delovalo prekomplikovano dok nismo seli da radimo."
                </p>
            </div>

            <div class="bg-slate-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:-rotate-1 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-slate-800 rounded-full flex items-center justify-center text-slate-300 font-bold">
                        SR
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Stefan R.</h3>
                        <span class="text-slate-100/40 text-xs uppercase tracking-wider">Baze Podataka</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Baze podataka su mi bile noćna mora dok nismo krenuli da radimo. Objasnio mi je sve na primerima iz realnog sveta."
                </p>
            </div>

            <div class="bg-yellow-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-yellow-800 rounded-full flex items-center justify-center text-yellow-300 font-bold">
                        JŠ
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Jovana Š.</h3>
                        <span class="text-yellow-100/40 text-xs uppercase tracking-wider">C Programiranje</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Imala sam ispit iz osnova C programskog jezika koji sam uspešno spremila uz pomoć održanih časova."
                </p>
            </div>

            <div class="bg-emerald-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-emerald-800 rounded-full flex items-center justify-center text-emerald-300 font-bold">
                        FI
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Filip I.</h3>
                        <span class="text-emerald-100/40 text-xs uppercase tracking-wider">Frontend Web</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Zajedno smo prešli osnove HTML,CSS i Javascripta koji su mi bili potrebni za ispit iz web programiranja."
                </p>
            </div>

            <div class="bg-sky-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:rotate-1 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-sky-800 rounded-full flex items-center justify-center text-sky-300 font-bold">
                        MP
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Djuradj V.</h3>
                        <span class="text-sky-100/40 text-xs uppercase tracking-wider">Seminarski rad</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Milan je profesionalac. Sve je bilo onako kako smo se dogovorili, uspešno sam pripremio i završio odbranu projekta pre roka."
                </p>
            </div>
            
            <div class="bg-red-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:-rotate-1 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-red-800 rounded-full flex items-center justify-center text-red-300 font-bold">
                        AM
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Ana M.</h3>
                        <span class="text-red-100/40 text-xs uppercase tracking-wider">Backend Razvoj</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Zahvaljujući Milanu uspešno sam savladala osnove PHP-a , zbog čega sam dobila 10 na ispitu!"
                </p>
            </div>

            <div class="bg-purple-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-purple-800 rounded-full flex items-center justify-center text-purple-300 font-bold">
                        AM
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Aleksandar M.</h3>
                        <span class="text-purple-100/40 text-xs uppercase tracking-wider">Desktop Razvoj</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Spremali smo ispit na kome se tražio razvoj WPF aplikacija. Sve što je bilo traženo na ispitu sam razumeo u veoma kratkom roku."
                </p>
            </div>

            <div class="bg-lime-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-lime-800 rounded-full flex items-center justify-center text-lime-300 font-bold">
                        DŠ
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Dušan Š.</h3>
                        <span class="text-lime-100/40 text-xs uppercase tracking-wider">Java OOP</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "Sredjen ispit iz Jave. Nemam reči, čovek odlično objašnjava. Sve preporuke za saradnju!"
                </p>
            </div>

            <div class="bg-zinc-900/20 backdrop-blur-md p-6 min-h-62.5 rounded-3xl shadow-sm flex flex-col h-full group transition duration-200 hover:scale-110 hover:rotate-1 hover:shadow-[0_0_20px_rgba(16,185,129,0.3)] review-card">
                <div class="flex items-center gap-4 mb-6">
                    <div class="w-12 h-12 bg-zinc-800 rounded-full flex items-center justify-center text-zinc-300 font-bold">
                        MN
                    </div>
                    <div>
                        <h3 class="text-white font-bold leading-none">Milan N.</h3>
                        <span class="text-zinc-100/40 text-xs uppercase tracking-wider">Frontend Razvoj</span>
                    </div>
                </div>
                <div class="flex gap-1 mb-4 text-amber-500 text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="text-emerald-100/80 italic text-sm leading-relaxed grow">
                    "U samo nekoliko časova prešli smo sve ključne oblasti tražene za ispit. Milan odlično prenosi znanje i zahvaljujući njemu sam sve uspešno spremio"
                </p>
            </div>
        </div>

        <div class="flex justify-center gap-4 mt-12 md:hidden ">
            <button id="reviews-prev" class="w-12 h-12 rounded-full bg-green-700 flex items-center justify-center text-emerald-400 active:opacity-50 hover:bg-emerald-800/60 transition duration-200 active:scale-95">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button id="reviews-next" class="w-12 h-12 rounded-full bg-green-700 flex items-center justify-center active:opacity-50 text-emerald-400 hover:bg-emerald-800/60 transition duration-200 active:scale-95">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </div>
</section>
