@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
    scroll-behavior: smooth;
    scroll-margin: 35px;
    scrollbar-color: #1f9c41 darkgreen;
    scrollbar-width: thin;
}

#public-layout {
    font-family: "Outfit", sans-serif;
}

#dashboard {
    font-family: "Outfit", sans-serif !important;
}

.htmx-indicator {
    display: none;
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.htmx-request .htmx-indicator {
    display: flex !important;
    opacity: 1;
}

.htmx-indicator.htmx-request {
    display: flex !important;
    opacity: 1;
}

.htmx-request {
    opacity: 0.7;
    pointer-events: none;
}
